<!DOCTYPE html>
<html>
<head>
  <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
</head>
<body>
<div class="main">
  <div th:replace="~{/fragments/upheader.html :: fragment-upheader}"></div>
  <div class="suggest">
    <div class="div">글 등록하기</div>
    <div class="frame-parent">
      <div class="parent">
        <div class="div1">제목</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search1.svg"
          />

          <div class="text2">제목을 작성해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown2.svg"
          />
        </div>
      </div>
      <div class="group">
        <div class="div1">작성자</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search1.svg"
          />

          <div class="text2">작성자를 작성해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown2.svg"
          />
        </div>
      </div>
      <div class="container">
        <div class="div3">카테고리 분류</div>
        <div class="frame-group">
          <div class="controls-parent">
            <div class="controls">
              <div class="controls-inner">
                <div class="frame-inner"></div>
              </div>
            </div>
            <div class="div4">같이 기부</div>
          </div>
          <div class="accordion-item">
            <div class="toggle1">
              <div class="title1">모금후기</div>
              <img
                      class="icon-jam-icons-outline-l7"
                      alt=""
                      src="./public/icon--jamicons--outline--logos--chevrondown3.svg"
              />
            </div>
            <div class="text4">
              <div class="text2">Text here</div>
            </div>
          </div>
          <div class="controls-group">
            <div class="controls">
              <div class="controls-inner">
                <div class="ellipse-div"></div>
              </div>
            </div>
            <div class="div5">프로모션</div>
          </div>
        </div>
      </div>
      <div class="frame-div">
        <div class="div3">목표 금액</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search2.svg"
          />

          <div class="text2">
            <p class="p">단위를 제외한 숫자를 작성해주세요</p>
            <p class="p">(ex. 100000)</p>
          </div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
          />
        </div>
      </div>
      <div class="frame-div">
        <div class="div3">기부 받은 금액</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search2.svg"
          />

          <div class="text2">
            <p class="p">단위를 제외한 숫자를 작성해주세요</p>
            <p class="p">(ex. 100000)</p>
          </div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
          />
        </div>
      </div>
      <div class="frame-container">
        <div class="wrapper">
          <div class="div3">썸네일 등록</div>
        </div>
        <div class="field-parent">
          <div class="field4">
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--search2.svg"
            />

            <div class="text2">선택된 파일 없음</div>
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
            />
          </div>
          <img
                  class="line-roundedfolder-icon"
                  alt=""
                  src="./public/line-roundedfolder.svg"
          />
        </div>
      </div>
      <div class="parent2">
        <div class="div3">주제1</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search2.svg"
          />

          <div class="text2">주제를 입력해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
          />
        </div>
      </div>
      <div class="parent3">
        <div class="div3">본문1</div>
        <div class="field6">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search3.svg"
          />

          <div class="text2">내용을 입력해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown5.svg"
          />
        </div>
      </div>
      <div class="parent4">
        <div class="div3">이미지1</div>
        <div class="field-parent">
          <div class="field4">
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--search1.svg"
            />

            <div class="text2">선택된 파일 없음</div>
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--chevrondown6.svg"
            />
          </div>
          <img
                  class="line-roundedfolder-icon1"
                  alt=""
                  src="./public/line-roundedfolder1.svg"
          />
        </div>
      </div>
    </div>
    <div class="master-primary-button">
      <img
              class="line-roundedsearch-icon4"
              alt=""
              src="./public/line-roundedsearch4.svg"
      />

      <b class="button-text2">등록하기</b>
      <img
              class="line-roundedarrow-right3"
              alt=""
              src="./public/line-roundedarrow-right3.svg"
      />
    </div><div class="suggest">
    <div class="div">글 등록하기</div>
    <div class="frame-parent">
      <div class="parent">
        <div class="div1">제목</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search1.svg"
          />

          <div class="text2">제목을 작성해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown2.svg"
          />
        </div>
      </div>
      <div class="group">
        <div class="div1">작성자</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search1.svg"
          />

          <div class="text2">작성자를 작성해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown2.svg"
          />
        </div>
      </div>
      <div class="container">
        <div class="div3">카테고리 분류</div>
        <div class="frame-group">
          <div class="controls-parent">
            <div class="controls">
              <div class="controls-inner">
                <div class="frame-inner"></div>
              </div>
            </div>
            <div class="div4">같이 기부</div>
          </div>
          <div class="accordion-item">
            <div class="toggle1">
              <div class="title1">모금후기</div>
              <img
                      class="icon-jam-icons-outline-l7"
                      alt=""
                      src="./public/icon--jamicons--outline--logos--chevrondown3.svg"
              />
            </div>
            <div class="text4">
              <div class="text2">Text here</div>
            </div>
          </div>
          <div class="controls-group">
            <div class="controls">
              <div class="controls-inner">
                <div class="ellipse-div"></div>
              </div>
            </div>
            <div class="div5">프로모션</div>
          </div>
        </div>
      </div>
      <div class="frame-div">
        <div class="div3">목표 금액</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search2.svg"
          />

          <div class="text2">
            <p class="p">단위를 제외한 숫자를 작성해주세요</p>
            <p class="p">(ex. 100000)</p>
          </div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
          />
        </div>
      </div>
      <div class="frame-div">
        <div class="div3">기부 받은 금액</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search2.svg"
          />

          <div class="text2">
            <p class="p">단위를 제외한 숫자를 작성해주세요</p>
            <p class="p">(ex. 100000)</p>
          </div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
          />
        </div>
      </div>
      <div class="frame-container">
        <div class="wrapper">
          <div class="div3">썸네일 등록</div>
        </div>
        <div class="field-parent">
          <div class="field4">
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--search2.svg"
            />

            <div class="text2">선택된 파일 없음</div>
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
            />
          </div>
          <img
                  class="line-roundedfolder-icon"
                  alt=""
                  src="./public/line-roundedfolder.svg"
          />
        </div>
      </div>
      <div class="parent2">
        <div class="div3">주제1</div>
        <div class="field">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search2.svg"
          />

          <div class="text2">주제를 입력해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown4.svg"
          />
        </div>
      </div>
      <div class="parent3">
        <div class="div3">본문1</div>
        <div class="field6">
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--search3.svg"
          />

          <div class="text2">내용을 입력해주세요</div>
          <img
                  class="icon-jam-icons-outline-l3"
                  alt=""
                  src="./public/icon--jamicons--outline--logos--chevrondown5.svg"
          />
        </div>
      </div>
      <div class="parent4">
        <div class="div3">이미지1</div>
        <div class="field-parent">
          <div class="field4">
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--search1.svg"
            />

            <div class="text2">선택된 파일 없음</div>
            <img
                    class="icon-jam-icons-outline-l3"
                    alt=""
                    src="./public/icon--jamicons--outline--logos--chevrondown6.svg"
            />
          </div>
          <img
                  class="line-roundedfolder-icon1"
                  alt=""
                  src="./public/line-roundedfolder1.svg"
          />
        </div>
      </div>
    </div>
    <div class="master-primary-button">
      <img
              class="line-roundedsearch-icon4"
              alt=""
              src="./public/line-roundedsearch4.svg"
      />

      <b class="button-text2">등록하기</b>
      <img
              class="line-roundedarrow-right3"
              alt=""
              src="./public/line-roundedarrow-right3.svg"
      />
    </div>
  </div>
  </div>
  <div th:replace="~{/fragments/footer.html :: fragment-footer}"></div>
</div>
</body>
</html>
