<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/fundraisingnow.css}">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Kakao:wght@400;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=AppleSDGothicNeoR:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
</head>
<body>
<div class="main">
    <div class="posts">
        <div class="content-box"  th:each="item : ${posts}">
            <div class="content-box1">
                <img
                        class="placeholder-picture"
                        alt=""
                        src="../public/placeholder--picture@2x.png"
                />

                <div class="icon-container">
                    <img
                            class="icon-jam-icons-outline-l"
                            alt=""
                            src="../public/icon--jamicons--outline--logos--pictures.svg"
                    />
                </div>
                <div class="content">
                    <div class="title-category">
                        <div class="category">
                            <p class="p" th:text="${item.category}"></p>
                            <p class="p" th:text="${item.category}"></p>
                        </div>
                        <b class="title" th:text="${item.title}"></b>
                    </div>
                    <div class="paragraph" th:text="${item.paragraph}"></div>
                    <div class="user-card">
                        <div class="line-indicator-wrapper">
                            <div class="line-indicator"></div>
                        </div>
                        <div class="details">
                            <div class="category1" th:text="${item.targetAmount}"></div>
                            <div class="category2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="datefilter">
        <div class="datefilter-child"></div>
        <div class="parent">
            <div class="div">추천순</div>
            <div class="div1">최신순</div>
            <div class="div2">종료임박순</div>
        </div>
    </div>
    <div class="filterbutton">
        <div class="image-24-parent">
            <img class="image-24-icon" alt="" src="../public/image-24@2x.png" />

            <div class="div3">전체</div>
        </div>
        <div class="image-25-parent">
            <img class="image-25-icon" alt="" src="../public/image-25@2x.png" />

            <div class="div4">어린이</div>
        </div>
        <div class="image-26-parent">
            <img class="image-26-icon" alt="" src="../public/image-26@2x.png" />

            <div class="div4">어르신</div>
        </div>
    </div>
    <div class="nav">
        <div class="navbar">
            <div class="link">
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="../public/line-roundedpassword.svg"
                />

                <div class="sss">모금중</div>
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="../public/line-roundedchevron-down.svg"
                />
            </div>
            <div class="link">
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="../public/line-roundedpassword.svg"
                />

                <div class="sss">모금후기</div>
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="../public/line-roundedchevron-down.svg"
                />
            </div>
            <div class="link">
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="../public/line-roundedpassword.svg"
                />

                <div class="sss">나눔캠페인</div>
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="../public/line-roundedchevron-down.svg"
                />
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="logo-style-guide-top"></div>
        </div>
        <div class="frame-parent">
            <div class="container">
                <a href="/static" class="sss">
                    <span>카카오</span>
                    <b>같이가치</b>
                </a>
            </div>
            <div class="frame-group">
                <div class="group">
                    <div class="sss">
                        <p class="p">당신의 착한 마음을 응원합니다.</p>
                        <p class="p">더 좋은 세상을 꿈꾼다면 지금 시작해보세요.</p>
                    </div>
                    <div class="master-primary-button">
                        <img
                                class="line-roundedsearch-icon"
                                alt=""
                                src="../public/line-roundedsearch.svg"
                        />

                        <div class="sss">제안하기</div>
                        <img
                                class="line-roundedsearch-icon"
                                alt=""
                                src="../public/line-roundedarrow-right.svg"
                        />
                    </div>
                </div>
                <div class="kakao-corp-parent">
                    <div class="sss">@Kakao Corp.</div>
                    <div class="sss">도움말</div>
                    <div class="sss">이용약관</div>
                    <div class="sss">개인정보처리방침</div>
                    <img
                            class="social-media-iconfacebook"
                            alt=""
                            src="../public/social-media-iconfacebook.svg"
                    />

                    <img
                            class="social-media-iconfacebook"
                            alt=""
                            src="../public/social-media-icontwitter.svg"
                    />

                    <img
                            class="social-media-iconfacebook"
                            alt=""
                            src="../public/social-media-iconinstagram.svg"
                    />

                    <img
                            class="social-media-iconfacebook"
                            alt=""
                            src="../public/social-media-iconline.svg"
                    />
                </div>
            </div>
        </div>
        <div class="footer1">
            <div class="wrapper">
                <div class="logo-style-guide-top"></div>
            </div>
            <div class="frame-parent">
                <div class="container">
                    <div class="sss">
                        <span>카카오</span>
                        <b>같이가치</b>
                    </div>
                </div>
                <div class="frame-group">
                    <div class="group">
                        <div class="sss">
                            <p class="p">당신의 착한 마음을 응원합니다.</p>
                            <p class="p">더 좋은 세상을 꿈꾼다면 지금 시작해보세요.</p>
                        </div>
                        <div class="master-primary-button">
                            <img
                                    class="line-roundedsearch-icon"
                                    alt=""
                                    src="../public/line-roundedsearch.svg"
                            />

                            <div class="sss">제안하기</div>
                            <img
                                    class="line-roundedsearch-icon"
                                    alt=""
                                    src="../public/line-roundedarrow-right.svg"
                            />
                        </div>
                    </div>
                    <div class="kakao-corp-parent">
                        <div class="sss">@Kakao Corp.</div>
                        <div class="sss">도움말</div>
                        <div class="sss">이용약관</div>
                        <div class="sss">개인정보처리방침</div>
                        <img
                                class="social-media-iconfacebook"
                                alt=""
                                src="../public/social-media-iconfacebook.svg"
                        />

                        <img
                                class="social-media-iconfacebook"
                                alt=""
                                src="../public/social-media-icontwitter.svg"
                        />

                        <img
                                class="social-media-iconfacebook"
                                alt=""
                                src="../public/social-media-iconinstagram.svg"
                        />

                        <img
                                class="social-media-iconfacebook"
                                alt=""
                                src="../public/social-media-iconline.svg"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="logo-style-guide-top2"></div>
        <img
                class="line-roundedpassword-icon3"
                alt=""
                src="../public/line-roundedpassword.svg"
        />

        <img
                class="line-roundedchevron-down3"
                alt=""
                src="../public/line-roundedchevron-down.svg"
        />

        <div class="frame-parent2">
            <div class="frame-parent3">
                <div class="parent2">
                    <a href="/" class="div19">
                        <span>카카오</span>
                        <b>같이가치</b>
                    </a>
                    <div class="frame-wrapper">
                        <div class="link-wrapper">
                            <div class="link-wrapper">
                                <div class="link">
                                    <div class="master-link">
                                        <img
                                                class="line-roundedpassword-icon"
                                                alt=""
                                                src="../public/line-roundedpassword.svg"
                                        />

                                        <div class="frame-parent4">
                                            <div class="link-wrapper">
                                                <div class="link">
                                                    <div class="master-link">
                                                        <img
                                                                class="line-roundedpassword-icon"
                                                                alt=""
                                                                src="../public/line-roundedpassword.svg"
                                                        />

                                                        <div class="sss">같이기부</div>
                                                        <img
                                                                class="line-roundedpassword-icon"
                                                                alt=""
                                                                src="../public/line-roundedchevron-down.svg"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="frame-parent5">
                                                <div class="link-wrapper">
                                                    <div class="link">
                                                        <div class="master-link">
                                                            <img
                                                                    class="line-roundedpassword-icon"
                                                                    alt=""
                                                                    src="../public/line-roundedpassword.svg"
                                                            />

                                                            <div class="div21">모두의행동</div>
                                                            <img
                                                                    class="line-roundedpassword-icon"
                                                                    alt=""
                                                                    src="../public/line-roundedchevron-down.svg"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="link">
                                                    <img
                                                            class="line-roundedpassword-icon"
                                                            alt=""
                                                            src="../public/line-roundedpassword.svg"
                                                    />

                                                    <div class="sss">더보기</div>
                                                    <img
                                                            class="line-roundedpassword-icon"
                                                            alt=""
                                                            src="../public/line-roundedchevron-down.svg"
                                                    />
                                                </div>
                                            </div>
                                            <div class="sss">Contact</div>
                                        </div>
                                        <img
                                                class="line-roundedpassword-icon"
                                                alt=""
                                                src="../public/line-roundedchevron-down.svg"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons-set">
                    <div class="nav-list">
                        <div class="nav-list-inner">
                            <div class="master-primary-button-parent">
                                <div
                                        class="master-primary-button2"
                                        id="masterPrimaryButton2"
                                >
                                    <img
                                            class="line-roundedsearch-icon"
                                            alt=""
                                            src="../public/line-roundedsearch.svg"
                                    />

                                    <div class="sss">제안하기</div>
                                    <img
                                            class="line-roundedsearch-icon"
                                            alt=""
                                            src="../public/line-roundedarrow-right.svg"
                                    />
                                </div>
                                <div
                                        class="master-primary-button-wrapper"
                                        id="frameContainer30"
                                >
                                    <div class="master-primary-button3">
                                        <img
                                                class="line-roundedsearch-icon"
                                                alt=""
                                                src="../public/line-roundedsearch1.svg"
                                        />

                                        <div class="sss">로그인</div>
                                        <img
                                                class="line-roundedsearch-icon"
                                                alt=""
                                                src="../public/line-roundedarrow-right1.svg"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img
                    class="line-roundedsearch-icon4"
                    alt=""
                    src="../public/line-roundedsearch2.svg"
            />
        </div>
        <div class="header1">
            <div class="logo-style-guide-top2"></div>
            <img
                    class="line-roundedpassword-icon3"
                    alt=""
                    src="../public/line-roundedpassword.svg"
            />

            <img
                    class="line-roundedchevron-down3"
                    alt=""
                    src="../public/line-roundedchevron-down.svg"
            />

            <div class="frame-parent2">
                <div class="frame-parent3">
                    <div class="parent2">
                        <a href="/" class="div19">
                            <span>카카오</span>
                            <b>같이가치</b>
                        </a>
                        <div class="frame-wrapper">
                            <div class="link-wrapper">
                                <div class="link-wrapper">
                                    <div class="link">
                                        <div class="master-link">
                                            <img
                                                    class="line-roundedpassword-icon"
                                                    alt=""
                                                    src="../public/line-roundedpassword.svg"
                                            />

                                            <div class="frame-parent4">
                                                <div class="link-wrapper">
                                                    <div class="link">
                                                        <div class="master-link">
                                                            <img
                                                                    class="line-roundedpassword-icon"
                                                                    alt=""
                                                                    src="../public/line-roundedpassword.svg"
                                                            />

                                                            <a href="/" class="sss">홈</a>
                                                            <img
                                                                    class="line-roundedpassword-icon"
                                                                    alt=""
                                                                    src="../public/line-roundedchevron-down.svg"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="frame-parent5">
                                                    <div class="link-wrapper">
                                                        <div class="link">
                                                            <div class="master-link">
                                                                <img
                                                                        class="line-roundedpassword-icon"
                                                                        alt=""
                                                                        src="../public/line-roundedpassword.svg"
                                                                />

                                                                <a href="/fundraisings/now" class="div21">같이기부</a>
                                                                <img
                                                                        class="line-roundedpassword-icon"
                                                                        alt=""
                                                                        src="../public/line-roundedchevron-down.svg"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="link">
                                                        <img
                                                                class="line-roundedpassword-icon"
                                                                alt=""
                                                                src="../public/line-roundedpassword.svg"
                                                        />

                                                        <a href="/promotions" class="sss">프로모션</a>
                                                        <img
                                                                class="line-roundedpassword-icon"
                                                                alt=""
                                                                src="../public/line-roundedchevron-down.svg"
                                                        />
                                                    </div>
                                                </div>
                                                <a href="/contact" class="sss">Contact</a>
                                            </div>
                                            <img
                                                    class="line-roundedpassword-icon"
                                                    alt=""
                                                    src="../public/line-roundedchevron-down.svg"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-set">
                        <div class="nav-list">
                            <div class="nav-list-inner">
                                <div class="master-primary-button-parent">
                                    <div
                                            class="master-primary-button2"
                                            id="masterPrimaryButton4"
                                    >
                                        <img
                                                class="line-roundedsearch-icon"
                                                alt=""
                                                src="../public/line-roundedsearch.svg"
                                        />

                                        <div class="sss">제안하기</div>
                                        <img
                                                class="line-roundedsearch-icon"
                                                alt=""
                                                src="../public/line-roundedarrow-right.svg"
                                        />
                                    </div>
                                    <div
                                            class="master-primary-button-wrapper"
                                            id="frameContainer43"
                                    >
                                        <div class="master-primary-button3">
                                            <img
                                                    class="line-roundedsearch-icon"
                                                    alt=""
                                                    src="../public/line-roundedsearch1.svg"
                                            />

                                            <div class="sss">로그인</div>
                                            <img
                                                    class="line-roundedsearch-icon"
                                                    alt=""
                                                    src="../public/line-roundedarrow-right1.svg"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img
                        class="line-roundedsearch-icon4"
                        alt=""
                        src="../public/line-roundedsearch2.svg"
                />
            </div>
        </div>
    </div>
</div>

<script>
    var contentBoxContainer7 = document.getElementById("contentBoxContainer7");
    if (contentBoxContainer7) {
        contentBoxContainer7.addEventListener("click", function (e) {
            window.location.href = "./detail.html";
        });
    }

    var masterPrimaryButton2 = document.getElementById("masterPrimaryButton2");
    if (masterPrimaryButton2) {
        masterPrimaryButton2.addEventListener("click", function (e) {
            window.location.href = "../suggest/suggest.html";
        });
    }

    var frameContainer30 = document.getElementById("frameContainer30");
    if (frameContainer30) {
        frameContainer30.addEventListener("click", function (e) {
            window.location.href = "./login.html";
        });
    }

    var masterPrimaryButton4 = document.getElementById("masterPrimaryButton4");
    if (masterPrimaryButton4) {
        masterPrimaryButton4.addEventListener("click", function (e) {
            window.location.href = "../suggest/suggest.html";
        });
    }

    var frameContainer43 = document.getElementById("frameContainer43");
    if (frameContainer43) {
        frameContainer43.addEventListener("click", function (e) {
            window.location.href = "./login.html";
        });
    }
</script>
</body>
</html>
