<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="footer">
    div class="footer">
    <div class="wrapper">
        <div class="container"></div>
        <div class="logo-style-guide-top"></div>
    </div>
    <div class="parent">
        <div class="div">
            <span>카카오</span>
            <b>같이가치</b>
        </div>
        <div class="frame-parent">
            <div class="group">
                <div class="sss">
                    <p class="p">당신의 착한 마음을 응원합니다.</p>
                    <p class="p">더 좋은 세상을 꿈꾼다면 지금 시작해보세요.</p>
                </div>
                <div class="master-primary-button">
                    <img
                            class="line-roundedsearch-icon2"
                            alt=""
                            src="../public/line-roundedsearch2.svg"
                    />

                    <div class="sss">제안하기</div>
                    <img
                            class="line-roundedsearch-icon2"
                            alt=""
                            src="../public/line-roundedarrow-right2.svg"
                    />
                </div>
            </div>
            <div class="kakao-corp-parent">
                <div class="sss">@Kakao Corp.</div>
                <div class="sss">도움말</div>
                <div class="sss">이용약관</div>
                <div class="sss">개인정보처리방침</div>
                <img
                        class="social-media-iconfacebook"
                        alt=""
                        src="../public/social-media-iconfacebook.svg"
                />

                <img
                        class="social-media-iconfacebook"
                        alt=""
                        src="../public/social-media-icontwitter.svg"
                />

                <img
                        class="social-media-iconfacebook"
                        alt=""
                        src="../public/social-media-iconinstagram.svg"
                />

                <img
                        class="social-media-iconfacebook"
                        alt=""
                        src="../public/social-media-iconline.svg"
                />
            </div>
        </div>
    </div>
    </div>
</footer>
</html>