<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
    <div class="nav">
        <div class="navbar">
            <div class="link">
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="./public/line-roundedpassword.svg"
                />

                <a class="sss" href="/current">모금중</a>
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="./public/line-roundedchevron-down.svg"
                />
            </div>
            <div class="link">
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="./public/line-roundedpassword.svg"
                />

                <a class="sss" href="/after">모금후기</a>
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="./public/line-roundedchevron-down.svg"
                />
            </div>
            <a class="link" href="/campaign">
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="./public/line-roundedpassword.svg"
                />

                <div class="sss">나눔캠페인</div>
                <img
                        class="line-roundedpassword-icon"
                        alt=""
                        src="./public/line-roundedchevron-down.svg"
                />
            </a>
        </div>
    </div>
</div>
</html>