<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
    <nav>
        <div class="logo">
            <a href="/">
                <span class="title">카카오 같이가치</span>
            </a>
        </div>
        <div class="nav-area">
            <ul class="list">
                <li><a href="/donations/main">같이기부</a></li>
                <li><a href="/actions">프로모션</a></li>
                <li><a href="/mood">더보기</a></li>
                <li><a href="/more">Contact</a></li>
            </ul>
        </div>
        <div class="util">
            <a class="util-menu">
                제안하기
            </a>
            <a class="util-menu">
                로그인
            </a>
        </div>
        <div class="search">
            <icon></icon>
        </div>

    </nav>
</div>
</html>