<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-upheader" class="header">
    <div class="frame-group">
      <div class="frame-container">
        <div class="parent2">
          <a href="/" class="mainlogo">
            <span>카카오</span>
            <b>같이가치</b>
          </a>
          <div class="frame-wrapper">
            <div class="link-wrapper">
              <div class="link-wrapper">
                <div class="link">
                  <div class="master-link">
                    <img
                            class="line-roundedpassword-icon"
                            alt=""
                            src="../public/line-roundedpassword.svg"
                    />

                    <div class="frame-parent1">
                      <div class="link-wrapper">
                        <div class="link">
                          <div class="master-link">
                            <img
                                    class="line-roundedpassword-icon"
                                    alt=""
                                    src="../public/line-roundedpassword.svg"
                            />

                            <a class="sss" href="/together">같이기부</a>
                            <img
                                    class="line-roundedpassword-icon"
                                    alt=""
                                    src="../public/line-roundedchevron-down.svg"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="frame-parent2">
                        <div class="link-wrapper">
                          <div class="link">
                            <div class="master-link">
                              <img
                                      class="line-roundedpassword-icon"
                                      alt=""
                                      src="../public/line-roundedpassword.svg"
                              />

                              <a class="div16" href="/everyone">모두의행동</a>
                              <img
                                      class="line-roundedpassword-icon"
                                      alt=""
                                      src="../public/line-roundedchevron-down.svg"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="link">
                          <img
                                  class="line-roundedpassword-icon"
                                  alt=""
                                  src="../public/line-roundedpassword.svg"
                          />

                          <a class="sss" href="/more">더보기</a>
                          <img
                                  class="line-roundedpassword-icon"
                                  alt=""
                                  src="../public/line-roundedchevron-down.svg"
                          />
                        </div>
                      </div>
                      <a class="sss" href="/contact">Contact</a>
                    </div>
                    <img
                            class="line-roundedpassword-icon"
                            alt=""
                            src="../public/line-roundedchevron-down.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-set">
          <div class="nav-list">
            <div class="nav-list-inner">
              <div class="master-primary-button-parent">
                <div class="master-primary-button1">
                  <img
                          class="line-roundedsearch-icon2"
                          alt=""
                          src="../public/line-roundedsearch2.svg"
                  />

                  <a class="sss" href="/suggest">제안하기</a>
                  <img
                          class="line-roundedsearch-icon2"
                          alt=""
                          src="../public/line-roundedarrow-right2.svg"
                  />
                </div>
                <div class="master-primary-button-wrapper">
                  <div class="master-primary-button2">
                    <img
                            class="line-roundedsearch-icon2"
                            alt=""
                            src="../public/line-roundedsearch3.svg"
                    />

                    <a class="sss" href="/login">로그인</a>
                    <img
                            class="line-roundedsearch-icon2"
                            alt=""
                            src="../public/line-roundedarrow-right3.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="/search">
        <i class="bi bi-search"></i>
      </a>

    </div>
</div>
</html>