<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
</head>

<body>
<div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>

<!-- 페이지 소스 -->
<div class="main">
    <div class="donation">
        <ul class="list_tab tab_type6">
            <li routerlinkactive="on">
                <a class="link_tab" data-tiara-layer="tab tab_now" data-tiara-action-name="now_클릭"
                   href="/fundraisings/now">
                    <span class="txt_tab">모금중</span>
                </a>
            </li>
            <li routerlinkactive="on" class="on">
                <a class="link_tab" data-tiara-layer="tab tab_epilogue" data-tiara-action-name="epilogue_클릭"
                   href="/fundraisings/epilogue">
                    <span class="txt_tab">모금후기</span>
                </a>
            </li>
            <li routerlinkactive="on">
                <a class="link_tab" data-tiara-layer="tab tab_campaigns" data-tiara-action-name="campaigns_클릭"
                   href="/fundraisings/campaigns">
                    <span class="txt_tab">나눔캠페인</span>
                </a>
            </li>
            <!---->
        </ul>
    </div>
    <div id="icon_list">
        <ul class="list_tab tab_type6">
            <!-- Icon list for filtering -->
            <li>
                <a class="link_tab" href="#" onclick="filterPosts('all')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index-thumb" viewBox="0 0 16 16">
                        <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a class="link_tab" href="#" onclick="filterPosts('children')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </a>
            </li>
            <li>
                <a class="link_tab" href="#" onclick="filterPosts('elderly')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                        <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                        <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
    <div id="post">
        <!-- Example posts -->
        <div th:each="post : ${posts}" class="post" th:class="${post.category}">
            <img th:src="${post.imagePath}" alt="Post Image">
            <div class="post-info">
                <p class="post-title" th:text="${post.title}">Post Title</p>
                <p class="post-content" th:text="${post.description}">This is the description of the post.</p>
                <p class="donation-progress" th:text="${post.donationProgress}">50% Donated</p>
            </div>
        </div>
    </div>






</div>
<!-- 페이지 소스 -->

<footer th:replace="~{/fragments/footer.html :: fragment-footer}"></footer>
</body>

</html>
