.subtitle {
    top: calc(50% - 362.5px);
    letter-spacing: 0.1em;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}
.heading,
.paragraph13,
.subtitle {
    position: absolute;
    left: calc(50% - 513px);
}
.heading {
    top: calc(50% - 334.5px);
    font-size: var(--special-headings-display-3-size);
    line-height: 50px;
    color: var(--neutral-colors-headings-black);
}
.paragraph13 {
    top: calc(50% - 268.5px);
    line-height: 30px;
    color: var(--neutral-colors-text-gray);
    display: inline-block;
    width: 432.29px;
}
.line-roundedemail-icon {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.contactcompanycom {
    position: relative;
    line-height: 18px;
}
.link27,
.link28,
.master-link18 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.master-link18 {
    align-items: center;
    gap: var(--gap-7xs);
}
.link27,
.link28 {
    position: absolute;
    top: calc(50% - 74px);
    left: calc(50% - 113.5px);
    align-items: flex-start;
}
.link28 {
    top: calc(50% - 30px);
}
.px-child {
    position: relative;
    width: 20px;
    height: 25px;
}
.mcallister-st {
    margin: 0;
}
.footer-description {
    position: relative;
    line-height: 30px;
    display: inline-block;
    width: 176.71px;
    flex-shrink: 0;
}
.px {
    position: absolute;
    top: calc(50% + 14px);
    left: calc(50% - 113.5px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    text-align: left;
}
.contact-info {
    position: absolute;
    top: calc(50% - 160.5px);
    left: calc(50% - 513px);
    width: 227px;
    height: 148px;
    text-align: center;
}
.container2 {
    position: absolute;
    top: calc(50% - 240.5px);
    left: calc(50% - 231.39px);
    border-radius: 25px;
    background-color: var(--neutral-colors-color-400);
    width: 462.79px;
    height: 481px;
}
.input,
.input1 {
    border-radius: var(--br-31xl);
    height: 48px;
}
.input {
    position: absolute;
    top: calc(50% - 208.5px);
    left: calc(50% - 199.39px);
    background-color: var(--default-white);
    width: 398.79px;
}
.input1 {
    top: calc(50% - 136.5px);
}
.input1,
.input2,
.input3 {
    position: absolute;
    left: calc(50% - 199.39px);
    background-color: var(--default-white);
    width: 398.79px;
}
.input2 {
    top: calc(50% - 64.5px);
    border-radius: var(--br-31xl);
    height: 48px;
}
.input3 {
    top: calc(50% + 7.5px);
    border-radius: 15px;
    height: 115px;
}
.input-icon-left {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.input-left {
    position: absolute;
    top: calc(50% - 193.5px);
    left: calc(50% - 175.39px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.input-placeholder3 {
    position: relative;
    line-height: 18px;
    color: inherit;
    text-decoration: none;
}
.input-left1 {
    top: calc(50% - 121.5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.input-left1,
.input-left2,
.input-placeholder5 {
    position: absolute;
    left: calc(50% - 175.39px);
}
.input-left2 {
    top: calc(50% - 49.5px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.input-placeholder5 {
    top: calc(50% + 23.5px);
    line-height: 18px;
}
.line-roundedsearch-icon29 {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.master-primary-button15 {
    position: absolute;
    top: calc(50% + 154.5px);
    left: calc(50% - 199.39px);
    border-radius: var(--br-11xl);
    background-color: var(--neutral-colors-headings-black);
    width: 399px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-lg) var(--padding-5xl);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
    text-align: center;
    color: var(--default-white);
}
.form-wrapper {
    position: absolute;
    top: calc(50% - 362.5px);
    left: calc(50% + 69.29px);
    width: 462.79px;
    height: 481px;
    font-size: var(--body-m-size);
}
.logo-style-guide-top9 {
    position: relative;
    width: 261.31px;
    height: 12.03px;
}
.wrapper7 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    width: 1440px;
    height: 199px;
    display: flex;
    flex-direction: column;
    padding: 42.04220199584961px 109.19921875px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
}
.wrapper8 {
    position: absolute;
    top: calc(50% - 64.5px);
    left: -10px;
    padding: var(--padding-3xs);
    justify-content: center;
}
.master-primary-button16,
.parent16,
.wrapper8 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.master-primary-button16 {
    border-radius: var(--br-11xl);
    background-color: var(--color-black);
    border: 2px solid var(--color-lightgray-200);
    padding: var(--padding-lg) var(--padding-5xl);
    justify-content: flex-end;
    gap: var(--gap-5xs);
    font-size: var(--other-caption-size);
    color: var(--color-gray-200);
}
.parent16 {
    justify-content: flex-start;
    gap: var(--gap-22xl);
}
.social-media-iconfacebook3 {
    position: relative;
    width: 20px;
    height: 20px;
}
.frame-parent36,
.kakao-corp-parent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-22xl);
}
.frame-parent36 {
    position: absolute;
    top: calc(50% - 54.5px);
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-16xl);
    text-align: right;
    font-size: var(--body-l-size);
    color: var(--color-dimgray-100);
}
.frame-parent35 {
    position: absolute;
    top: calc(50% - 59.5px);
    left: calc(50% - 643px);
    width: 1294px;
    height: 109px;
}
.footer3 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-black);
    height: 215px;
    overflow: hidden;
    font-size: var(--font-size-6xl);
    color: var(--color-gray-200);
    font-family: var(--font-kakao);
}
.logo-style-guide-top10 {
    position: absolute;
    top: 35px;
    left: 18px;
    width: 261.31px;
    height: 34.35px;
}
.line-roundedchevron-down35,
.line-roundedpassword-icon33 {
    position: absolute;
    top: 47px;
    left: 670px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    display: none;
}
.line-roundedchevron-down35 {
    top: 49px;
    left: 1110px;
}
.div73,
.div75 {
    position: relative;
    line-height: 18px;
    display: inline-block;
    flex-shrink: 0;
}
.div73 {
    width: 191px;
    height: 24px;
}
.div75 {
    width: 91px;
}
.frame-parent39,
.frame-parent40 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-43xl);
}
.frame-parent39 {
    gap: var(--gap-52xl);
}
.link29 {
    flex-direction: row;
    align-items: flex-start;
}
.frame-wrapper12,
.frame-wrapper13,
.link29 {
    display: flex;
    justify-content: flex-start;
}
.frame-wrapper13 {
    flex-direction: column;
    padding: var(--padding-3xs);
    align-items: flex-start;
}
.frame-wrapper12 {
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: var(--other-caption-size);
}
.master-primary-button17,
.master-primary-button18,
.parent17 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-115xl);
}
.master-primary-button17,
.master-primary-button18 {
    border-radius: var(--br-11xl);
    background-color: var(--default-white);
    border: 2px solid var(--color-lightgray-200);
    padding: var(--padding-lg) var(--padding-5xl);
    justify-content: flex-end;
    gap: var(--gap-5xs);
}
.master-primary-button18 {
    box-sizing: border-box;
    width: 100px;
    justify-content: center;
}
.master-primary-button-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;
}
.master-primary-button-parent5 {
    gap: var(--gap-base);
}
.master-primary-button-parent5,
.nav-list-inner5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.nav-list6 {
    width: 220px;
    padding: 0 0 0 var(--padding-6xl);
    box-sizing: border-box;
    justify-content: flex-end;
}
.buttons-set6,
.frame-parent38,
.nav-list6 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buttons-set6 {
    width: 220px;
    justify-content: flex-end;
    text-align: right;
    font-size: var(--other-caption-size);
}
.frame-parent38 {
    justify-content: flex-start;
    gap: var(--gap-168xl);
}
.line-roundedsearch-icon33 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent37,
.link36,
.master-primary-button19 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.frame-parent37 {
    position: absolute;
    top: 11px;
    left: 27px;
    width: 1398px;
    align-items: center;
    gap: var(--gap-mid);
}
.link36,
.master-primary-button19 {
    align-items: flex-start;
    cursor: pointer;
}
.master-primary-button19 {
    border-radius: var(--br-11xl);
    background-color: var(--default-white);
    border: 2px solid var(--color-lightgray-200);
    padding: var(--padding-lg) var(--padding-5xl);
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xs);
}
.master-primary-button-wrapper5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    text-align: center;
}
.header10 {
    left: 0;
    background-color: var(--default-white);
    width: 1440px;
    height: 101px;
}
.header10,
.header8,
.header9 {
    position: absolute;
    top: 0;
}
.header9 {
    height: 99.02%;
    width: 100%;
    right: 1.11%;
    bottom: 0.98%;
    left: -1.11%;
    background-color: var(--default-white);
}
.header8 {
    left: 0;
    border-bottom: 1px solid var(--color-lightgray-100);
    box-sizing: border-box;
    width: 1424px;
    height: 102px;
    font-size: var(--font-size-6xl);
    color: var(--color-black);
    font-family: var(--font-kakao);
}
.contact6 {
    position: relative;
    background-color: var(--default-white);
    width: 100%;
    height: 1587px;
    overflow-y: auto;
    text-align: left;
    font-size: var(--body-l-size);
    color: var(--neutral-colors-color-900);
    font-family: var(--text-single-100-regular);
}
