<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Kakao:wght@400;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=AppleSDGothicNeoR:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
</head>
<body>
<div class="login1">
    <div class="footer10">
        <div class="wrapper21">
            <div class="logo-style-guide-top26"></div>
        </div>
        <div class="frame-parent92">
            <div class="wrapper22">
                <a href="/" class="div148">
                    <span>카카오</span>
                    <b>같이가치</b>
                </a>
            </div>
            <div class="frame-parent93">
                <div class="parent36">
                    <div class="div148">
                        <p class="p53">당신의 착한 마음을 응원합니다.</p>
                        <p class="p53">더 좋은 세상을 꿈꾼다면 지금 시작해보세요.</p>
                    </div>
                    <div class="master-primary-button44">
                        <img
                                class="line-roundedsearch-icon68"
                                alt=""
                                src="../public/line-roundedsearch1.svg"
                        />

                        <a href="/suggest" class="div148">제안하기</a>
                        <img
                                class="line-roundedsearch-icon68"
                                alt=""
                                src="../public/line-roundedarrow-right4.svg"
                        />
                    </div>
                </div>
                <div class="kakao-corp-parent8">
                    <div class="div148">@Kakao Corp.</div>
                    <div class="div148">도움말</div>
                    <div class="div148">이용약관</div>
                    <div class="div148">개인정보처리방침</div>
                    <img
                            class="social-media-iconfacebook10"
                            alt=""
                            src="../public/social-media-iconfacebook2.svg"
                    />

                    <img
                            class="social-media-iconfacebook10"
                            alt=""
                            src="../public/social-media-icontwitter2.svg"
                    />

                    <img
                            class="social-media-iconfacebook10"
                            alt=""
                            src="../public/social-media-iconinstagram.svg"
                    />

                    <img
                            class="social-media-iconfacebook10"
                            alt=""
                            src="../public/social-media-iconline.svg"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="loginform">
        <div class="login-button">
            <div class="button-rectangle"></div>
            <div class="login-text">Login</div>
        </div>
        <b class="hi-welcome-back">Hi, Welcome Back! 👋</b>
        <div class="email-field-text1">
            <div class="email-rectangle1"></div>
            <div class="email-text">example@gmail.com</div>
            <div class="email">Email</div>
        </div>
        <div class="password-field-text">
            <div class="password-rectangle"></div>
            <div class="enter-your-password1">Enter Your Password</div>
            <img class="eye-icon" alt="" src="../public/eye-icon.svg" />

            <div class="password">Password</div>
        </div>
        <div class="remember-me">
            <div class="remember-me-text">Remember Me</div>
            <div class="rectangle-remember"></div>
            <img class="tick-icon" alt="" src="../public/tick.svg" />

            <div class="forgot-password-text">Forgot Password?</div>
        </div>
        <div class="login-button1">
            <div class="button-rectangle"></div>
            <b class="login-text1">Login</b>
        </div>
        <div class="line-field1">
            <div class="line-field-inner"></div>
            <div class="line-div"></div>
            <div class="or-text1">Or With</div>
        </div>
        <div class="login-button2">
            <div class="button-rectangle2"></div>
            <div class="login-text-wrapper">
                <b class="login-text2">회원 가입 하기</b>
            </div>
        </div>
        <div class="kakao-login1">
            <img class="icon-kakao2" alt="" src="../public/icon--kakao2.svg" />

            <div class="label2">
                <div class="login-with-kakao2">Login with Kakao</div>
            </div>
        </div>
        <div class="login-with-google2">
            <div class="google-rectangle1"></div>
            <div class="login-with-google3">Login with Google</div>
            <img
                    class="google-logo-icon1"
                    alt=""
                    src="../public/google-logo1@2x.png"
            />
        </div>
        <div class="already-account">
            <div class="dont-have-an">Don’t have an account ?</div>
            <a href="/user/signup" class="sign-up1">Sign Up</a>
        </div>
    </div>
    <div class="header18">
        <div class="logo-style-guide-top27"></div>
        <img
                class="line-roundedpassword-icon83"
                alt=""
                src="../public/line-roundedpassword4.svg"
        />

        <img
                class="line-roundedchevron-down85"
                alt=""
                src="../public/line-roundedchevron-down4.svg"
        />

        <div class="frame-parent94">
            <div class="frame-parent95">
                <div class="parent37">
                    <a href="/" class="div153">
                        <span>카카오</span>
                        <b>같이가치</b>
                    </a>
                    <div class="frame-wrapper31">
                        <div class="frame-wrapper32">
                            <div class="frame-wrapper32">
                                <div class="link69">
                                    <div class="master-link50">
                                        <img
                                                class="line-roundedpassword-icon84"
                                                alt=""
                                                src="../public/line-roundedpassword4.svg"
                                        />

                                        <div class="frame-parent96">
                                            <div class="frame-wrapper32">
                                                <div class="link69">
                                                    <div class="master-link50">
                                                        <img
                                                                class="line-roundedpassword-icon84"
                                                                alt=""
                                                                src="../public/line-roundedpassword4.svg"
                                                        />

                                                        <a href="/" class="div148">홈</a>
                                                        <img
                                                                class="line-roundedpassword-icon84"
                                                                alt=""
                                                                src="../public/line-roundedchevron-down4.svg"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="frame-parent97">
                                                <div class="frame-wrapper32">
                                                    <div class="link69">
                                                        <div class="master-link50">
                                                            <img
                                                                    class="line-roundedpassword-icon84"
                                                                    alt=""
                                                                    src="../public/line-roundedpassword4.svg"
                                                            />

                                                            <a href="/fundraisings/now" class="div155">같이기부</a>
                                                            <img
                                                                    class="line-roundedpassword-icon84"
                                                                    alt=""
                                                                    src="../public/line-roundedchevron-down4.svg"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="link69">
                                                    <img
                                                            class="line-roundedpassword-icon84"
                                                            alt=""
                                                            src="../public/line-roundedpassword4.svg"
                                                    />

                                                    <a href="/promotions/all" class="div148">프로모션</a>
                                                    <img
                                                            class="line-roundedpassword-icon84"
                                                            alt=""
                                                            src="../public/line-roundedchevron-down4.svg"
                                                    />
                                                </div>
                                            </div>
                                            <a href="/contact" class="div148">Contact</a>
                                        </div>
                                        <img
                                                class="line-roundedpassword-icon84"
                                                alt=""
                                                src="../public/line-roundedchevron-down4.svg"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons-set16">
                    <div class="nav-list16">
                        <div class="nav-list-inner15">
                            <div class="master-primary-button-parent15">
                                <div
                                        class="master-primary-button45"
                                        id="masterPrimaryButton1"
                                >
                                    <img
                                            class="line-roundedsearch-icon68"
                                            alt=""
                                            src="../public/line-roundedsearch5.svg"
                                    />

                                    <a href="/suggest" class="div148">제안하기</a>
                                    <img
                                            class="line-roundedsearch-icon68"
                                            alt=""
                                            src="../public/line-roundedarrow-right4.svg"
                                    />
                                </div>
                                <div
                                        class="master-primary-button-wrapper14"
                                        id="frameContainer13"
                                >
                                    <div class="master-primary-button46">
                                        <img
                                                class="line-roundedsearch-icon68"
                                                alt=""
                                                src="../public/line-roundedsearch18.svg"
                                        />

                                        <a href="/user/login" class="div148">로그인</a>
                                        <img
                                                class="line-roundedsearch-icon68"
                                                alt=""
                                                src="../public/line-roundedarrow-right9.svg"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img
                    class="line-roundedsearch-icon71"
                    alt=""
                    src="../public/line-roundedsearch19.svg"
            />
        </div>
    </div>
</div>

<script>
    var masterPrimaryButton1 = document.getElementById("masterPrimaryButton1");
    if (masterPrimaryButton1) {
        masterPrimaryButton1.addEventListener("click", function (e) {
            window.location.href = "./suggest.html";
        });
    }

    var frameContainer13 = document.getElementById("frameContainer13");
    if (frameContainer13) {
        frameContainer13.addEventListener("click", function (e) {
            window.location.href = "login.html";
        });
    }
</script>
</body>
</html>
