<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" th:href="@{/css/promotions.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Kakao:wght@400;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=AppleSDGothicNeoR:wght@400&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
</head>
<body>
<div class="promotions">
    <div class="nav">
        <div class="navbar">
            <div class="link16">
                <img
                        class="line-roundedpassword-icon20"
                        alt=""
                        src="./public/line-roundedpassword2.svg"
                />

                <div class="div33">전체</div>
                <img
                        class="line-roundedpassword-icon20"
                        alt=""
                        src="./public/line-roundedchevron-down2.svg"
                />
            </div>
            <div class="link16">
                <img
                        class="line-roundedpassword-icon20"
                        alt=""
                        src="./public/line-roundedpassword2.svg"
                />

                <div class="div33">진행중</div>
                <img
                        class="line-roundedpassword-icon20"
                        alt=""
                        src="./public/line-roundedchevron-down2.svg"
                />
            </div>
            <div class="link16">
                <img
                        class="line-roundedpassword-icon20"
                        alt=""
                        src="./public/line-roundedpassword2.svg"
                />

                <div class="div33">종료</div>
                <img
                        class="line-roundedpassword-icon20"
                        alt=""
                        src="./public/line-roundedchevron-down2.svg"
                />
            </div>
        </div>
    </div>
    <div class="footer2">
        <div class="wrapper5">
            <div class="logo-style-guide-top6"></div>
        </div>
        <div class="frame-parent25">
            <div class="wrapper6">
                <div class="div33">
                    <span>카카오</span>
                    <b>같이가치</b>
                </div>
            </div>
            <div class="frame-parent26">
                <div class="parent7">
                    <div class="div33">
                        <p class="p12">당신의 착한 마음을 응원합니다.</p>
                        <p class="p12">더 좋은 세상을 꿈꾼다면 지금 시작해보세요.</p>
                    </div>
                    <div class="master-primary-button10">
                        <img
                                class="line-roundedsearch-icon22"
                                alt=""
                                src="./public/line-roundedsearch13.svg"
                        />

                        <div class="div33">제안하기</div>
                        <img
                                class="line-roundedsearch-icon22"
                                alt=""
                                src="./public/line-roundedarrow-right7.svg"
                        />
                    </div>
                </div>
                <div class="kakao-corp-container">
                    <div class="div33">@Kakao Corp.</div>
                    <div class="div33">도움말</div>
                    <div class="div33">이용약관</div>
                    <div class="div33">개인정보처리방침</div>
                    <img
                            class="social-media-iconfacebook2"
                            alt=""
                            src="./public/social-media-iconfacebook1.svg"
                    />

                    <img
                            class="social-media-iconfacebook2"
                            alt=""
                            src="./public/social-media-icontwitter1.svg"
                    />

                    <img
                            class="social-media-iconfacebook2"
                            alt=""
                            src="./public/social-media-iconinstagram1.svg"
                    />

                    <img
                            class="social-media-iconfacebook2"
                            alt=""
                            src="./public/social-media-iconline1.svg"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="placeholder-picture-container">
        <img
                class="placeholder-picture7"
                alt=""
                src="./public/placeholder--picture4@2x.png"
        />

        <div class="parent8">
            <div class="div41">다시 찾아온 싱그러운 봄</div>
            <div class="div42">프로모션</div>
            <div class="div43">2022.08.03~2023.09.23</div>
        </div>
    </div>
    <div class="placeholder-picture-parent1">
        <img
                class="placeholder-picture7"
                alt=""
                src="./public/placeholder--picture4@2x.png"
        />

        <div class="parent8">
            <div class="div41">다시 찾아온 싱그러운 봄</div>
            <div class="div42">프로모션</div>
            <div class="div43">2022.08.03~2023.09.23</div>
        </div>
    </div>
    <div class="placeholder-picture-parent2">
        <img
                class="placeholder-picture7"
                alt=""
                src="./public/placeholder--picture4@2x.png"
        />

        <div class="parent8">
            <div class="div41">다시 찾아온 싱그러운 봄</div>
            <div class="div42">프로모션</div>
            <div class="div43">2022.08.03~2023.09.23</div>
        </div>
    </div>
    <div class="placeholder-picture-parent3">
        <img
                class="placeholder-picture7"
                alt=""
                src="./public/placeholder--picture4@2x.png"
        />

        <div class="parent8">
            <div class="div41">다시 찾아온 싱그러운 봄</div>
            <div class="div42">프로모션</div>
            <div class="div43">2022.08.03~2023.09.23</div>
        </div>
    </div>
    <div class="placeholder-picture-parent4">
        <img
                class="placeholder-picture7"
                alt=""
                src="./public/placeholder--picture4@2x.png"
        />

        <div class="parent8">
            <div class="div41">다시 찾아온 싱그러운 봄</div>
            <div class="div42">프로모션</div>
            <div class="div43">2022.08.03~2023.09.23</div>
        </div>
    </div>
    <div class="placeholder-picture-parent5">
        <img
                class="placeholder-picture7"
                alt=""
                src="./public/placeholder--picture4@2x.png"
        />

        <div class="parent8">
            <div class="div41">다시 찾아온 싱그러운 봄</div>
            <div class="div42">프로모션</div>
            <div class="div43">2022.08.03~2023.09.23</div>
        </div>
    </div>
    <div class="header5">
        <div class="header6">
            <div class="logo-style-guide-top7"></div>
            <img
                    class="line-roundedpassword-icon23"
                    alt=""
                    src="./public/line-roundedpassword3.svg"
            />

            <img
                    class="line-roundedchevron-down23"
                    alt=""
                    src="./public/line-roundedchevron-down3.svg"
            />

            <div class="frame-parent27">
                <div class="frame-parent28">
                    <div class="parent14">
                        <div class="div59">
                            <span>카카오</span>
                            <b>같이가치</b>
                        </div>
                        <div class="frame-wrapper8">
                            <div class="frame-wrapper9">
                                <div class="frame-wrapper9">
                                    <div class="link16">
                                        <div class="master-link12">
                                            <img
                                                    class="line-roundedpassword-icon20"
                                                    alt=""
                                                    src="./public/line-roundedpassword3.svg"
                                            />

                                            <div class="frame-parent29">
                                                <div class="frame-wrapper9">
                                                    <div class="link16">
                                                        <div class="master-link12">
                                                            <img
                                                                    class="line-roundedpassword-icon20"
                                                                    alt=""
                                                                    src="./public/line-roundedpassword3.svg"
                                                            />

                                                            <div class="div33">같이기부</div>
                                                            <img
                                                                    class="line-roundedpassword-icon20"
                                                                    alt=""
                                                                    src="./public/line-roundedchevron-down3.svg"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="frame-parent30">
                                                    <div class="frame-wrapper9">
                                                        <div class="link16">
                                                            <div class="master-link12">
                                                                <img
                                                                        class="line-roundedpassword-icon20"
                                                                        alt=""
                                                                        src="./public/line-roundedpassword3.svg"
                                                                />

                                                                <div class="div61">모두의행동</div>
                                                                <img
                                                                        class="line-roundedpassword-icon20"
                                                                        alt=""
                                                                        src="./public/line-roundedchevron-down3.svg"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="link16">
                                                        <img
                                                                class="line-roundedpassword-icon20"
                                                                alt=""
                                                                src="./public/line-roundedpassword3.svg"
                                                        />

                                                        <div class="div33">더보기</div>
                                                        <img
                                                                class="line-roundedpassword-icon20"
                                                                alt=""
                                                                src="./public/line-roundedchevron-down3.svg"
                                                        />
                                                    </div>
                                                </div>
                                                <div class="div33">Contact</div>
                                            </div>
                                            <img
                                                    class="line-roundedpassword-icon20"
                                                    alt=""
                                                    src="./public/line-roundedchevron-down3.svg"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons-set4">
                        <div class="nav-list4">
                            <div class="nav-list-inner3">
                                <div class="master-primary-button-parent3">
                                    <div class="master-primary-button11">
                                        <img
                                                class="line-roundedsearch-icon22"
                                                alt=""
                                                src="./public/line-roundedsearch14.svg"
                                        />

                                        <div class="div33">제안하기</div>
                                        <img
                                                class="line-roundedsearch-icon22"
                                                alt=""
                                                src="./public/line-roundedarrow-right8.svg"
                                        />
                                    </div>
                                    <div
                                            class="master-primary-button-wrapper2"
                                            id="frameContainer25"
                                    >
                                        <div class="master-primary-button12">
                                            <img
                                                    class="line-roundedsearch-icon22"
                                                    alt=""
                                                    src="./public/line-roundedsearch15.svg"
                                            />

                                            <div class="div33">로그인</div>
                                            <img
                                                    class="line-roundedsearch-icon22"
                                                    alt=""
                                                    src="./public/line-roundedarrow-right9.svg"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <img
                        class="line-roundedsearch-icon25"
                        alt=""
                        src="./public/line-roundedsearch4.svg"
                />
            </div>
            <div class="header7">
                <div class="logo-style-guide-top7"></div>
                <img
                        class="line-roundedpassword-icon23"
                        alt=""
                        src="./public/line-roundedpassword3.svg"
                />

                <img
                        class="line-roundedchevron-down23"
                        alt=""
                        src="./public/line-roundedchevron-down3.svg"
                />

                <div class="frame-parent27">
                    <div class="frame-parent28">
                        <div class="parent14">
                            <div class="div59">
                                <span>카카오</span>
                                <b>같이가치</b>
                            </div>
                            <div class="frame-wrapper8">
                                <div class="frame-wrapper9">
                                    <div class="frame-wrapper9">
                                        <div class="link16">
                                            <div class="master-link12">
                                                <img
                                                        class="line-roundedpassword-icon20"
                                                        alt=""
                                                        src="./public/line-roundedpassword3.svg"
                                                />

                                                <div class="frame-parent29">
                                                    <div class="frame-wrapper9">
                                                        <div class="link16">
                                                            <div class="master-link12">
                                                                <img
                                                                        class="line-roundedpassword-icon20"
                                                                        alt=""
                                                                        src="./public/line-roundedpassword3.svg"
                                                                />

                                                                <div class="div33">홈</div>
                                                                <img
                                                                        class="line-roundedpassword-icon20"
                                                                        alt=""
                                                                        src="./public/line-roundedchevron-down3.svg"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="frame-parent30">
                                                        <div class="frame-wrapper9">
                                                            <div class="link25" id="linkContainer8">
                                                                <div class="master-link12">
                                                                    <img
                                                                            class="line-roundedpassword-icon20"
                                                                            alt=""
                                                                            src="./public/line-roundedpassword3.svg"
                                                                    />

                                                                    <div class="div61">같이 기부</div>
                                                                    <img
                                                                            class="line-roundedpassword-icon20"
                                                                            alt=""
                                                                            src="./public/line-roundedchevron-down3.svg"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="link25" id="linkContainer9">
                                                            <img
                                                                    class="line-roundedpassword-icon20"
                                                                    alt=""
                                                                    src="./public/line-roundedpassword3.svg"
                                                            />

                                                            <div class="div33">프로모션</div>
                                                            <img
                                                                    class="line-roundedpassword-icon20"
                                                                    alt=""
                                                                    src="./public/line-roundedchevron-down3.svg"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="div33">Contact</div>
                                                </div>
                                                <img
                                                        class="line-roundedpassword-icon20"
                                                        alt=""
                                                        src="./public/line-roundedchevron-down3.svg"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons-set4">
                            <div class="nav-list4">
                                <div class="nav-list-inner3">
                                    <div class="master-primary-button-parent3">
                                        <div
                                                class="master-primary-button13"
                                                id="masterPrimaryButton3"
                                        >
                                            <img
                                                    class="line-roundedsearch-icon22"
                                                    alt=""
                                                    src="./public/line-roundedsearch14.svg"
                                            />

                                            <div class="div33">제안하기</div>
                                            <img
                                                    class="line-roundedsearch-icon22"
                                                    alt=""
                                                    src="./public/line-roundedarrow-right8.svg"
                                            />
                                        </div>
                                        <div
                                                class="master-primary-button-wrapper2"
                                                id="frameContainer38"
                                        >
                                            <div class="master-primary-button12">
                                                <img
                                                        class="line-roundedsearch-icon22"
                                                        alt=""
                                                        src="./public/line-roundedsearch15.svg"
                                                />

                                                <div class="div33">로그인</div>
                                                <img
                                                        class="line-roundedsearch-icon22"
                                                        alt=""
                                                        src="./public/line-roundedarrow-right9.svg"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img
                            class="line-roundedsearch-icon25"
                            alt=""
                            src="./public/line-roundedsearch4.svg"
                    />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var frameContainer25 = document.getElementById("frameContainer25");
    if (frameContainer25) {
        frameContainer25.addEventListener("click", function (e) {
            window.location.href = "./userlogin.html";
        });
    }

    var linkContainer8 = document.getElementById("linkContainer8");
    if (linkContainer8) {
        linkContainer8.addEventListener("click", function (e) {
            window.location.href = "./fundraisingsnow.html";
        });
    }

    var linkContainer9 = document.getElementById("linkContainer9");
    if (linkContainer9) {
        linkContainer9.addEventListener("click", function (e) {
            window.location.href = "promotions.html";
        });
    }

    var masterPrimaryButton3 = document.getElementById("masterPrimaryButton3");
    if (masterPrimaryButton3) {
        masterPrimaryButton3.addEventListener("click", function (e) {
            window.location.href = "./fundraisingspropose.html";
        });
    }

    var frameContainer38 = document.getElementById("frameContainer38");
    if (frameContainer38) {
        frameContainer38.addEventListener("click", function (e) {
            window.location.href = "./userlogin.html";
        });
    }
</script>
</body>
</html>
